*{
    background-color: cornflowerblue;

}
#navbar{
    list-style: none;

}
#navbar ul{
    display: block;
    list-style:none;
}

#navbar a{
    background-color: blue;
    color:white;
}
#navbar a:hover{
    background-color: aqua;
    color:yellowgreen;
}
